<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Category</th>
        <th scope="col">Subject</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tickets; let i = index  ">
        <th scope="row">{{i}}</th>
        <td>{{t.user.name}}</td>
        <td>{{t.category}}</td>
        <td>{{t.subject}}</td>
        <td>{{t.description}}</td>
        <td> <strong class="d-inline-block mb-2 text-{{filterStatus(t.status).color}}">{{filterStatus(t.status).text}}</strong>
        </td>
        <td><!-- Example single danger button -->
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Action
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"(click)="changeStatus(1,t.id)">Solved</a></li>
                <li><a class="dropdown-item"(click)="changeStatus(0,t.id)">Declined</a></li>
              </ul>
            </div></td>
      </tr>
    </tbody>
  </table>