<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">All Tickets</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div *ngFor="let t of tickets">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <strong class="d-inline-block mb-2 text-{{filterStatus(t.status).color}}">{{filterStatus(t.status).text}}</strong>
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ t.subject}}</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
             <p>@{{t.user.name}}</p>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
             <a [routerLink]="['/moreInfo',t.id]"> More Info </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
</div>
<div class="alert alert-danger mx" role="alert" *ngIf="!tickets.length">
There is no tickets yet 
 </div>